[Unit]
Description=Flask App for Albumeer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /app/site/app.py
WorkingDirectory=/app/site
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
