[Unit]
Description=Check for matching Wi-Fi networks and start hotspot if needed
After=network.target

[Service]
ExecStart=/home/pi/wifi_check.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target