<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Albumeer Settings</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="quickSettings">
        <button class="icon" onclick="toggleSide()">side_navigation</button>
        <button class="icon changeTheme" onclick="changeTheme()">
          dark_mode
        </button>
      </div>
    </div>
    <div class="album">hi</div>
    <script>
      let started = 0;
    </script>
    <script src="../static/init.js"></script>
  </body>
</html>
